* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  background-color: #2d2d2d;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  width: 1440px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  width: 1440px;
  height: 200px;
  display: flex;
  background-color: pink;
  font-size: 40px;
  align-items: center;
  text-indent: 20px;
}

h1 {
  font-size: 40px;
  background-color: bisque;
  height: 130px;
  display: flex;
  align-items: center;
  text-indent: 20px;
}

#detail {
  width: 1440px;
  height: 745px;
  background-color: rgb(233, 101, 123);

  .movie_card {
    display: flex;
    flex-direction: row;
  }

  #poster {
    margin-left: 100px;
    width: 400px;
    height: 600px;
  }

  .infoBox {
    width: 720px;
    height: 600px;
    margin-left: 80px;

    #title {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 40px;
    }

    #score {
      font-size: 18px;
      margin-bottom: 15px;
    }

    #genre {
      font-size: 18px;
      margin-bottom: 15px;
    }

    #releaseDate {
      font-size: 18px;
      margin-bottom: 15px;
    }

    #content {
      font-size: 18px;
      margin-top: 120px;
      line-height: 200%;
    }
  }
}

.review {
  width: 1440px;
  height: 830px;
  background-color: aquamarine;

  .reviewContainer {
    height: 695px;
    background-color: aqua;

    #revbox {
        width: 320px;
        height: 240px;
    }
  }
}

/* .movie_card {
    width: 800px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 40px auto 40px auto;
    display: flex;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    color: white;
  
    #poster {
      border-radius: 10px;
      width: 350px;
    }
  
    h3 {
      font-weight: bold;
      font-size: 20px;
      padding-top: 10px;
      line-height: 120%;
    }
  
    #score {
      padding-top: 10px;
      font-size: 12px;
      color: rgb(255, 237, 43)
    }
  
    #content {
      padding-top: 10px;
      font-size: 10px;
      line-height: 140%;
      color:rgb(125, 125, 125)
    }

    box {
        display: flex;
        flex-direction: row;
    }
  } */
