* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  background-color: #2d2d2d;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  width: 1440px;
  margin: 0 auto;
}

.detailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  width: 1440px;
  height: 200px;
  display: flex;
  background-color: pink;
  font-size: 40px;
  align-items: center;
  text-indent: 20px;
}

#firstTitle {
  font-size: 40px;
  background-color: bisque;
  height: 130px;
  display: flex;
  align-items: center;
  text-indent: 20px;
}

#secondTitle {
  font-size: 40px;
  background-color: bisque;
  height: 130px;
  display: flex;
  align-items: center;
  text-indent: 20px;
}

#detail {
  width: 1440px;
  height: 745px;
  background-color: rgb(233, 101, 123);

  .movie_card {
    display: flex;
    flex-direction: row;
  }

  #poster {
    margin-left: 100px;
    width: 400px;
    height: 600px;
  }

  .infoBox {
    width: 720px;
    height: 600px;
    margin-left: 80px;

    #title {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 40px;
    }

    #score {
      font-size: 18px;
      margin-bottom: 15px;
    }

    #genre {
      font-size: 18px;
      margin-bottom: 15px;
    }

    #releaseDate {
      font-size: 18px;
      margin-bottom: 15px;
    }

    #content {
      font-size: 18px;
      margin-top: 120px;
      line-height: 200%;
    }
  }
}

#middleBlock {
  display: flex;
  justify-content: space-between;

  #secondTitle {
    background-color: bisque;
    height: 130px;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-indent: 20px;
  }

  .writeBox {
    position: relative;
    margin-top: 40px;
    right: 200px;
  }

  #writeRv {
    position: absolute;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #ffb701;
    color: white;
    font-size: 18px;
    font-weight: bold;
    z-index: 1;
  }

  #writeRvBack {
    position: absolute;
    top: 15px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: #d79a00;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
}

#reviewContainer {
  width: 1440px;
  height: 690px;
  background-color: rgb(116, 84, 133);

  #review {
    width: 1400px;
    height: 240px;
    margin: 0 20px 0 20px;
    background-color: rgb(151, 93, 119);
    display: flex;
    justify-content: space-between;

    #revBox {
      width: 320px;
      height: 240px;
      border-radius: 10px;
      background-color: #f2f2f2;
      color: black;

      .revTop {
        display: flex;
        margin: 0 20px 0 20px;
        align-items: center;
        justify-content: space-between;
        width: 280px;
        height: 68px;
        border-bottom: 1px solid #787878;
        font-size: 20px;

        #revName {
          text-indent: 10px;
        }

        #starPoint {
          margin-right: 10px;
          width: 70px;
          height: 32px;
          border-radius: 15px;
          background-color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .revMid {
        display: flex;
        width: 280px;
        height: 120px;
        font-size: 12px;
        text-indent: 10px;
        margin: 0 20px 0 20px;
        padding-top: 10px;
        border-bottom: 1px solid #787878;
      }

      .revBase {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 20px 0 20px;
        width: 280px;
        height: 40px;
        color: #787878;

        .revBtn {
          display: flex;
          justify-content: space-between;
          width: 105px;
          height: 30px;

          .modiBtn {
            width: 50px;
            border: none;
            border-radius: 10px;
            font-size: 12px;
            background-color: #787878;
            color: white;
          }
          .delBtn {
            width: 50px;
            border: none;
            border-radius: 10px;
            font-size: 12px;
            background-color: #f16168;
            color: white;
          }
        }
      }
    }
  }  

  .arrow {
    display: flex;
    padding-top: 75px;
    padding-left: 50px;
    justify-content: space-between;
  }

  .writeRev {
    width: 680px;
    height: 420px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    color: black;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    

    .writeRevTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 25px 20px 25px 25px;
      position: relative;

      #back {
        font-size: 12px;
        padding-right: 160px;
      }

      #WRtitle {
        color: #2d2d2d;
        text-align: center;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-right: 245px;
      }

      #revRegist {
        position: absolute;
        width: 140px;
        height: 30px;
        border-radius: 10px;
        border: none;
        background-color: #ffb701;
        color: white;
        font-size: 14px;
        font-weight: normal;
        top: 25px;
        left: 520px;
        z-index: 1;
      }
      #revRegistBack {
        position: absolute;
        width: 140px;
        height: 30px;
        border-radius: 10px;
        border: none;
        background-color: #d79a00;
        color: white;
        font-size: 14px;
        font-weight: normal;
        top: 30px;
        left: 520px;
      }
    }

    .writeRevNiPw {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      padding-left: 22px;
      padding-right: 20px;

      #nickName {
        width: 240px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #000;
        background-color: #fff;
        text-indent: 20px;
      }
      #passWord {
        width: 240px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #000;
        background-color: #fff;
        text-indent: 20px;
      }
    }

    .writeRevPoint {
      display: flex;
      font-size: 12px;
      align-items: center;
      padding-top: 22px;
      padding-bottom: 22px;
      padding-left: 25px;

      #starPoint {
        width: 240px;
        height: 40px;
        margin-left: 32px;
        border-radius: 10px;
        border: 1px solid #000;
        background-color: #fff;
        text-indent: 20px;
      }
    }

    .writeRevContent {
      display: flex;
      font-size: 12px;
      padding-left: 24px;
      padding-right: 20px;

      #revContent {
        width: 580px;
        height: 200px;
        border-radius: 10px;
        border: 1px solid #000;
        background-color: #fff;
        margin-left: 32px;
        text-indent: 20px;
      }
    }
  }

  .modiRevPrev {
    width: 680px;
    height: 110px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    color: black;
    /*display: none;*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .modiRevPrevTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      position: relative;

      #back {
        font-size: 12px;
        padding-right: 160px;
      }

      #MRtitle {
        color: #2d2d2d;
        text-align: center;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;        
        padding-right: 245px;
      }

      #revConfirm {
        position: absolute;
        width: 140px;
        height: 30px;
        border-radius: 10px;
        border: none;
        background-color: #ffb701;
        color: white;
        font-size: 14px;
        font-weight: normal;
        top: 20px;
        left: 520px;
        z-index: 1;
      }

      #revConfirmBack {
        position: absolute;
        width: 140px;
        height: 30px;
        border-radius: 10px;
        border: none;
        background-color: #d79a00;
        color: white;
        font-size: 14px;
        font-weight: normal;
        top: 25px;
        left: 520px;
      }
    }

    .ModiRevNiPw {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      padding-left: 22px;
      padding-right: 20px;

      #nickName {
        width: 240px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #000;
        background-color: #fff;
        text-indent: 20px;
      }
      #passWord {
        width: 240px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #000;
        background-color: #fff;
        text-indent: 20px;
      }
    }

    }
  }


/* .movie_card {
    width: 800px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 40px auto 40px auto;
    display: flex;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    color: white;
  
    #poster {
      border-radius: 10px;
      width: 350px;
    }
  
    h3 {
      font-weight: bold;
      font-size: 20px;
      padding-top: 10px;
      line-height: 120%;
    }
  
    #score {
      padding-top: 10px;
      font-size: 12px;
      color: rgb(255, 237, 43)
    }
  
    #content {
      padding-top: 10px;
      font-size: 10px;
      line-height: 140%;
      color:rgb(125, 125, 125)
    }

    box {
        display: flex;
        flex-direction: row;
    }
  } */
