@import "./reset.css";

body {
  background: url(../img/0501-1.png) lightgray 50% / cover no-repeat;
}
#event-guide-container {
  width: 1440px;
  margin: 0 auto;
  height: 95vh;
  opacity: 0.8;
  #section-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    #section-container-button {
      position: absolute;
      top: 140px;
      left: 50px;
    }
    #section-container-ticket1 {
      width: 150px;
      height: 270px;
      background: no-repeat url(../img/rainbow-ticket.svg);
      filter: drop-shadow(16px 16px 40px white);
      transform: rotate(-20deg);
    }
    #section-container-ticket2 {
      width: 150px;
      height: 270px;
      background: no-repeat url(../img/golden-ticket.svg);
      filter: drop-shadow(16px 16px 20px white);
      transform: rotate(-20deg);
    }
    #section-container-ticket3 {
      width: 150px;
      height: 270px;
      filter: none;
      background: no-repeat url(../img/normal-ticket.svg);
      filter: drop-shadow(16px 16px 20px white);
      transform: rotate(-20deg);
    }
    #section-container-ticket4 {
      width: 150px;
      height: 270px;
      filter: none;
      background: no-repeat url(../img/normal-ticket-copy.svg);
      filter: drop-shadow(16px 16px 20px white);
      transform: rotate(-20deg);
    }
  }
}
