

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}

#header-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#section-container-button {
  position: relative;
  top: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height :100%;
  color: #d8d8d8;
  font-size: 30px;
  font-weight: 700;
  background-color: transparent;
  border: none;

  img {
    color: white;
    filter: brightness(85%);
    width: 30px;
    height: 30px;
  }

  :hover {
    cursor: pointer;
  }
}
nav {
  width: 100%;
  max-width: 1440px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 50px;
  }

  .category {
    display: flex;

    li {
      position: relative;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 0 30px;
        height: 100px;
        text-decoration: none;
        font-size: 24px;
      }

      .underscore {
        position: absolute;
        bottom: 0;
        width: 0px;
        height: 4px;
        transition: all 0.3s;
        background-color: white;
      }
    }

    li:hover {
      .underscore {
        width: 60px;
      }
    }
  }

  .search-bar {
    position: relative;
    width: 440px;
    height: 50px;
    background-color: white;
    border-radius: 25px;
    border: 4px solid white;
    input {
      outline: none;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      margin-left: 20px;
      border: none;
      font-size: 18px;
      width: 390px;
      height: 100%;
      border-radius: 25px;
    }
    input::placeholder {
      color: #aaaaaa;
    }
    button {
      cursor: pointer;
      border-radius: 0 25px 25px 0;
      padding: 0;
      margin: 0;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 50px; 
      height: 100%;
      border: none;
      background-color: #2d2d2d;

      i {
        position: relative;
        right: 2px;
        bottom: 2px;
        color: white;
        font-size: 24px;
      }
    }
  }
}

