@import "./reset.css";
@font-face {
  font-family: 'TTHakgyoansimMulgyeolB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMulgyeolB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "DS-Digit";
  font-weight: 700;
  src: url("../fonts/DS-DIGIT.TTF") format("woff2");
}
@font-face {
  font-family: "JalnanGothic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-ticket {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 300px;
  background-color: #423781;
  .ticket {
    z-index: 10;
  }
  > p {
    font-family: 'TTHakgyoansimMulgyeolB';
    position: relative;
    color: white;
    right: 200px;
    font-size: 60px;
  }
}

.curr-ticket {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 280px;
  height: 520px;
  background-repeat: no-repeat;

  z-index: 1;
  transform: rotateZ(90deg);
  p {
    font-family: 'TTHakgyoansimMulgyeolB';
    z-index: 10;
    font-size: 36px;
    margin-bottom: 40px;
  }
}


.ticket {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 280px;
  height: 520px;
  position: relative;
  z-index: 1;
  top: -400px;
  background-repeat: no-repeat;
  background-position: center bottom;
  /* animation-name: printingTicket; */
  animation-duration: 4s;
  animation-fill-mode: forwards;

  p {
    font-family: 'TTHakgyoansimMulgyeolB';
    z-index: 10;
    font-size: 36px;
    margin-bottom: 40px;
  }
}

.curr-ticket.grade-none {
  background-image: url('../img/ticket/random-ticket.svg');
}


.curr-ticket.grade-VIP,
.ticket.grade-VIP {
  background-image: url('../img/ticket/vip-ticket.svg');
  color: #d673ff;
}
.curr-ticket.grade-R,
.ticket.grade-R {
  background-image: url('../img/ticket/r-ticket.svg');
  color: #cc9933;
}
.curr-ticket.grade-S,
.ticket.grade-S {
  background-image: url('../img/ticket/s-ticket.svg');
  color: #9c1d1d;
}
.curr-ticket.grade-A,
.ticket.grade-A {
  background-image: url('../img/ticket/a-ticket.svg');
  color: #9c1d1d;
}

.event-area {
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
  height: 1000px;
  width: 100%;
  max-width: 1440px;
  justify-content: center;

  .print-btn {
    margin-top: 300px;
    cursor: pointer;
    position: relative;
    margin-right: 100px;

    .topside {
      width: 300px;
      height: 100px;
      border-radius: 30px;
      background-color: #ffed4b;
    }

    .frontside {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "JalnanGothic";
      font-size: 32px;
      position: absolute;
      top: 40px;
      width: 300px;
      height: 100px;
      background-color: #eddb3e;
      border-radius: 30px;
      z-index: 10;
      transition: all 0.3s;
    }
  }

  .print-btn:hover {
    .frontside {
      top: 30px;
    }
  }

  .print-btn.working {
    pointer-events: none;
    .frontside {
      top: 10px;
    }
  }

  .ticket-container {
    position: relative;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: 2s;
    animation-iteration-count: 2;
    .ticket-printer {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .ticket-printer.front {
      background-image: url("../img/printer-front.svg");
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;

      .ticket-counter {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 120px;
        font-family: "DS-Digit";
        font-size: 100px;
        height: 120px;
        color: white;

        .count-box {
          .count {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            width: 240px;
            height: 100%;
            background-color: #2d2d2d;
            padding-left: 20px;
          }
          .bottomside {
            width: 240px;
            height: 20px;
            background-color: #423781;
            z-index: 6;
          }
        }
        .unit {
          margin-left: 20px;
          font-family: "JalnanGothic";
          font-size: 80px;
          font-weight: 500;
        }
      }
    }
    .ticket-printer.back {
      background-image: url("../img/printer-back.svg");
    }
  }
}

.loading-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-top: 24px;
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  padding: 12px;
  border-radius: 20px;
  background: linear-gradient(180deg, #6958CC 0%, #6958CC 50.5%, #5C4DB2 50.51%, #362D69 100%);
}

.loading-bar {
  height: 16px;
  position: absolute;
  border-radius: 8px;
  overflow: hidden;
}

.loading-bar.front {
  width:0;
  animation-timing-function: cubic-bezier(.16,.66,.78,.59);
  animation-delay: 0.5s;
  animation-duration: 5.5s;
  animation-fill-mode: forwards;
  z-index: 2;
  box-shadow: inset 0 6px rgba(0,0,0,0.3);
  background: linear-gradient(168deg, #E1A2EA 1.54%, #BF5CF4 18.99%, #A36AF4 36.44%, #83BCFD 58.73%, #BAFAA6 82%, #E5FE67 98.48%);
 ;
}
.loading-bar.back {
  width: 276px;
  background-color: #2d2d2d;
}


.modal-background {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 10;
  backdrop-filter: blur(5px);
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  background-color:#ffed4b;
  border-radius: 40px;
  filter: drop-shadow(0 10px #e0d041) 
}

.modal p {
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 900;
}

.closeBtnBox {
  opacity: 1;
  transition: all .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.btnBg {
  position: absolute;
  bottom: -18px;

  width: 100px;
  height: 60px;
  border-radius: 20px;
  background-color: #423781;
}

.closeModal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 2;
  position: relative;
  bottom: 0;
  color: white;
  background-color:#6958cc;
  border: none;
  font-weight: 900;
  font-size: 24px;
  border-radius: 20px;
  width: 100px;
  height: 60px;
  padding:0;
  margin:0;
}

.closeModal:hover {
  bottom: -8px;
}

.hidden {
  opacity: 0;
}

.visible {
  display: flex;
}

@keyframes loading {
  0% {
    width: 0px;
  }
  95%,
  100% {
    width: 276px;
  }
}

@keyframes printingTicket {
  0% {
    top: -300px;
  }
  10% {
    top: 0px;
  }
  30% {
    top: 0px;
  }
  40% {
    top: 150px;
  }
  70% {
    top: 150px;
  }
  80% {
    top: 360px;
  }
  100% {
    top: 360px;
  }
}

@keyframes wiggle{
    0%,
    5% {
      transform: rotateZ(0);
    }
    15%{
      transform: rotateZ(-15deg);
    }
    20%{
      transform: rotateZ(10deg);
    }
    25%{
      transform: rotateZ(-10deg);
    }
    30%{
      transform: rotateZ(6deg);
    }
    35%{
      transform: rotateZ(-4deg);
    }
    40%,
    100% {
      transform: rotateZ(0);
    }
}
